*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(103, 37, 83), rgb(106, 76, 150));
    
}

/*-------------------------------------------- Logo --------------------------------------------*/
   
.logo{
    width: 100%;
    height: 15vh;
    text-align: center;
}

.logo h1{
    color: #fff;
   font-size: 100px;
   margin-top: 80px;
}

/*-------------------------------------------- Container --------------------------------------------*/

.container-slider{
    position: relative;
    width: 100%;
    height: 78vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.slide-inside{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img-slider{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-images{
    background-color:transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.slider{
    transition: opacity .5s;
    opacity: 0;
    position: absolute;
    width: 100%; 
    border-radius: 15px;  
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: prev 2s infinite;

}

#prev-button img, #next-button img{
    width: 80%;
    height: 80%;
}

#prev-button img:hover, #next-button img:hover{
    width: 100%;
    height: 100%;
}

#prev-button{
}

@keyframes prev {
    0%{
        border-radius: 50%;

    }
    50%{
        background-color: rgb(181, 133, 226);
        border-radius: 50%;
    }
    100%{
        border-radius: 50%;

    }
}


.balls-click{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    /* display: none; */
}

#slideB{
    margin:15px;
}

/*-------------------------------------------- Navigation --------------------------------------------*/





/*-------------------------------------------- Media Query --------------------------------------------*/


@media screen and (max-width: 1000px){
    .logo h1{
        font-size: 80px;
    }
}
@media screen and (max-width: 600px){
    .logo h1{
        font-size: 50px;
    }
}

